



/* ContactSection.css */

.contact {
  background-color: #f8f8f8;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.contact-content {
  max-width: 800px;
  margin: 0 auto;
  
}

.contact h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.contact p {
  font-size: 18px;
  color: #666;
}

.contact-form {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.contact-form h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
}
.SendMessageButton {
  padding: 2% 6%;
  border: none;
  background: linear-gradient(45deg, #80e3b7, #75ddef);
  border-radius: 10px;
  box-shadow: 0px 0px 1% rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: #333300;
  cursor: pointer;
  align-self: flex-end;
  display: flex;
  margin-top: 2%;
  margin-right: 2%;
  transition: box-shadow 0.3s ease;
}

.SendMessageButton:hover {
  background-color: #45a049;
}
