/* Updated styles with percentage-based measurements */
.formInput {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  justify-content: flex-start;
  align-self: center;
  margin-bottom: 4%;
  transition: padding-bottom 0.3s;
}

input {
  width: 100%;
  padding: 2% 0;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0;
  color: grey;
  display: flex;
}

.otherInputs,
input.inputDescription {
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid grey;
}

input.inputDescription {
  border-top: 1px solid rgb(169, 165, 165);
  border-left: 1px solid rgb(169, 165, 165);
  border-right: 1px solid rgb(169, 165, 165);
  padding: 8% 0;
}

input:focus {
  border-color: #00d994;
  outline: none;
}

label {
  color: #333300;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 2%;
}

/* Container for the password input and button */
.password-input-wrapper {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.error-message-container {
  font-size: 12px;
  color: red;
  white-space: pre-line;
  margin-top: 6%;
}

.password-input-wrapper .show-hide-password {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #333;
  height: 100%;
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:invalid[focused="true"] {
  border-color: red;
  outline: none;
}

input:invalid[focused="true"] + .error-message-container {
  display: inline;
}

.formInput.focused {
  padding-bottom: 6%;
}

.eye {
  width: 50%;
  height: 50%;
  color: grey;
}

.phone-input-input {
  width: 100%;
  padding: 2% 40%;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0;
  color: grey;
  display: flex;
}

.phone-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: flex-start;
  align-self: flex-start;
  margin-bottom: 4%;
  margin-left: 50%;
}

.input-wrapper {
  position: relative;
}

.password-toggle-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .formInput.focused {
    padding-bottom: 16%;
  }
}

@media screen and (min-width: 595px) {
  label {
    font-size: 1rem;
    margin-bottom: 4%;
  }
  input {
    font-size: 1rem;
  }
}
