/* NavBar3.css */
@font-face {
  font-family: "Galada";
  src: url("../fonts/Galada-Regular.ttf") format("truetype");
  /* Add more formats if needed */
}
.custom-navbar {
  position: fixed;
  top: 2%;
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #80e3b7, #75ddef);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
}

.search-input {
  position: relative;
}

.search-bar,
.offcanva-search-bar {
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  /* height: 35px; */
  outline: none;
  transition: background 0.3s ease;
}

.search-bar:focus,
.offcanva-search-bar:focus {
  background: rgba(255, 255, 255, 0.8);
}

.search-button {
  color: aliceblue;
  border: none;
  border-radius: 20px;
  margin-left: -1px;
}

.search-button:hover,
.join-now-button:hover {
  cursor: pointer;
  background-color: #80e3b7;
}
.join-now-button-offcanvas{
  border: none;
  color: #80e3b7;
}
.join-now-button{
  color: #fff;
  margin-left: 10px;
  border: none;
}
.nav-link {
  color: #fff;
  font-weight: 600;
}
.nav-link:hover {
  text-decoration: underline;
}

.navbar-title {
  font-family: "Galada", sans-serif;
  font-size: 1.8rem;
  line-height: 1.6em;
  letter-spacing: 0.05em;
}

/* Offcanvas styling */

.offcanvas-header {
  background: linear-gradient(45deg, #80e3b7, #75ddef);
  color: #fff;
  border-bottom: 1px solid #ddd;
  border-radius: 50px;
  width: 80%;
  margin: 0 10%;
  padding: 2%;
  font-family: "Galada", sans-serif;
}

.offcanva-search-button:hover {
  cursor: pointer;
  background-color: #80e3b7;
  color: aliceblue;
}

.offcanvas-title {
  font-size: 1.8rem;
  line-height: 1.6em;
  letter-spacing: 0.05em;
}

.dropdown {
    margin-right: 10%;
    padding: 0 10%;
    display: flex;
    /* height: 100%; */
    align-items: center;
    justify-content: center;
}

.offcanva-search-button {
  color: #80e3b7;
  border: none;
  border-radius: 20px;
  margin-left: -1px;
}

.offcanvas-body {
  background-color: #fff;
  color: #333000;
}

/* Navigation links in Offcanvas */

.offcanvas-body .offcanvas-nav-link {
  color: #333000;
  border-radius: 50px;
  width: 80%;
  text-decoration: none;
  padding: 15px;
  display: block;
  transition: background 0.3s ease, color 0.3s ease;
}

.offcanvas-body .offcanvas-nav-link:hover {
  background-color: #defff0; /* Green hover background */
  color: lightslategray;
}

/* Close button styling */

.offcanvas-header button.close {
  color: #fff;
  font-size: 1.5rem;
}

.offcanvas-header button.close:hover {
  color: #ddd;
}

.offcanvas-search-input {
  width: 80%;
  box-shadow: 1px solid lightslategray;
  border-radius: 50px;
}

.offcanvas-social-links {
  position: absolute;
  width: 100%;
  top: 100%;
}
.active {
  text-decoration: underline;
  font-weight: 900;
}

/* Media query for responsiveness */

@media (max-width: 980px) {
  .search-button,
  .search-bar,
  .join-now-button,
  .nav-link {
    display: none;
  }
  .dropdown{
    color: #333000 !important;
  }
  .nav-link{
    color: #333000 !important;
  }
  
}
