/* Common styles for both .homepage and .searchpage */
.dropdown{
 background-color: chartreuse;
  transform: translate(-50%, -50%);
  z-index: 999;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
              0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 10% 10%;
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}





/* .popup-filter-close {
  color: #333300;
  background: transparent;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  align-self: center;
  justify-self: end;

  &:hover {
    color: red;
  }
} */

.search-dropdown-label {
  margin-top: 20%;
}

.search-dropdown-button {
  padding: 1% 2%;
  border: none;
  background: linear-gradient(45deg, #80e3b7, #75ddef);
  border-radius: 10px;
  box-shadow: 0 0 1% rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: #333300;
  cursor: pointer;
  align-self: flex-end;
  display: flex;
  margin-bottom: 2%;
  margin-right: 2%;
  transition: box-shadow 0.3s ease;
}

.date-pickers {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 4%;
  padding: 2%;
  margin-top: 2% 2%
}






.label-select-conatiner{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

}

