/* .container {
    flex-direction: row;
    overflow: scroll;
    width: 100%;
    /* height: 100%; */
  

/* .formReg {
  flex-wrap: wrap;
  overflow: scroll;
  flex-direction: column;
  height: 100%;
  width: auto;
} */

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}


 
 
  /* .SliderReg{
    text-align: center;
    flex-direction: column;
    height: 100%;
    transition: display 0.5s
  } */
  
/* 
 @media screen and (max-width: 699px) {
   

 } */

@media screen and (min-width: 700px) {
   .container {
    width: 100%;
    height: 100vh;
     display: grid;
    grid-template-columns: 32% 68%;
    position: absolute;
  }
  
  .SliderReg {
    width: 100%;
    grid-column: 1;
  }
  .formReg {
    height: auto;
    width: 100%;
    overflow: scroll;
    grid-column: 2;
  
  }
.BackButton{
    display: none;
  }
}


