.register-container {
  display: grid;
  grid-template-columns: 36% 64%;
    flex-direction: row;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    
}

/* .formReg {
  flex-wrap: wrap;
  overflow: scroll;
  flex-direction: column;
  height: 100%;
  width: auto;
} */

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}




 
 
  /* .SliderReg{
    text-align: center;
    flex-direction: column;
    height: 100%;
    transition: display 0.5s
  } */
  
/* 
 @media screen and (max-width: 699px) {
   

 } */

@media screen and (max-width: 700px) {
   .register-container {
    width: 100%;
    height: 100vh;
     display: flex;
    /* grid-template-columns: 32% 68%; */
    position: absolute;
  }
  
  .SliderReg {
    width: 100%;
    grid-column: 1;
  }

  .formReg {
    height: auto;
    width: 100%;
    overflow: scroll;
    grid-column: 2;
  
  }
.BackButton{
    display: none;
  }

.italic-text-button{
  display: block;
}
}


