:root {
  --speed: 0.5s;
  --hard-transition: all var(--speed) cubic-bezier(0, 0, 0.10, 1) 0s;
  --soft-transition: all var(--speed) cubic-bezier(0, 0, 0.50, 1) 0s;
  --button-height: 3rem;
}

.btn-container.SearchPage {
  margin-top: 40%;
  margin-left: 0;
  width: 100%;
}


.btn-container.HomePage {
  margin-top: 80%;
  margin-left: 20%;
  width: 80%;
}

.btn-container.SearchPage, .btn-container.HomePage {
  position: relative;
  background-color: #80e3b7;
  
  height: var(--button-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #80e3b7;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), border 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
 
}

.btn-container:hover {
  background-color: #80e3b7;
  border-color:  #80e3b7;
}

.btn-container__search {
  border-radius: 20px;
  padding-right: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  color: #fff;
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-container__search:hover {
  box-shadow: 0 4px 8px 0 rgba(136, 148, 171, 0.4), 0 32px 26px -32px rgba(71, 82, 107, 0.2);
}

/* .btn-container__search .SearchPage {
  margin-bottom: 30%;
  

} */

