.containerSignIn {
  background-image: url("../images/people2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 100vh; /* Full viewport height */
  width: 100%;
  overflow: visible;
}


.SliderForm {
  position: fixed;
  background-color: blue;
  height: 100%;
  width: 100%;
  max-width: 100%;
  grid-column: 2;
}


.ButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signInInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
}

h1 {
  color: #333300;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 1.8em;
  margin: 2%;
}

.formSignInContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;/*form takes all the space*/
  
  }

  .formSignIn {
    height: 90%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
  }

.text1 .text2 {
  color: #333300;
  text-align: center;
  font-family: sans-serif;
  padding: 0 4%;
  font-style: italic;
  font-size: 1rem;
}

.text2 {
  text-decoration: underline;
}

.loginButton {
  padding: 2% 3%;
  border: none;
  background: linear-gradient(45deg, #80e3b7, #75ddef);
  border-radius: 10px;
  box-shadow: 0px 0px 1% rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: #333300;
  cursor: pointer;
  align-self: flex-end;
  display: flex;
  margin-top: 2%;
  margin-right: 2%;
  transition: box-shadow 0.3s ease; 
}


/* Define the animation for the glow effect */


/* Apply the animation on button hover */
.loginButton:hover{
  animation: glow 1s infinite; /* Apply the glow animation */
  /* background:white;
  color: #80e3b7 */
}

.formSignIn {
    height: 90%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
    justify-content: space-evenly ;
    display: flex;
    flex-direction: column;
  }

/* mobile */
@media screen and (max-width: 594px) {
   .containerSignIn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formSignInContainer{
    height: 100%;
  }
  .BackButton {
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
    transition: color 0.3s;
    align-self: center;
    &:hover{
      color: #80e3b7;
    }; /* Change text color on hover */
    
  }
}
/* tablet */
@media screen and (min-width: 595px) {
  .containerSignIn {
    display: grid;
    grid-template-columns: 68% 32%;
  } 
  .SliderForm {
  position: fixed;
  height: 100%;
  width: 100%;
  max-width: 100%;
  grid-column: 2;
  display: flex;
} 
h1{
  font-size: 2rem;
}

 .formSignIn {
    height: 98%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
    justify-content: space-evenly ;
    display: flex;
    flex-direction: column;
  }





}
