/* social links */
.social-card {
  width: 80%;
  height: 80%;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  align-self: center;
 
  border-radius: 50%;
}

/* for all social containers*/
.socialContainer {
  width: 20%;
  height: 20%;
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 2% 2%;
  transition-duration: .3s;
  border-radius: 40px;
}
/* instagram*/
.containerOne:hover {
  background-color: hotpink;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color:cornflowerblue;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: lightgreen;
  transition-duration: .3s;
}

.containerFive:hover {
  background-color: rgb(239, 82, 82);
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}


.socialContainer:hover .contact-social-icon {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.offcanvas-social-links{
    width: 100%!important;
}