/* User Review Rating */
.rating-container {
  display: flex;
  flex-direction: row;
  font-size: 0; /* Remove inline spacing between stars */
  background: transparent;

}



.rating:not(:checked) > label {
  font-size: 30px;
  color: #666;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px; /* Add spacing between stars */
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}

/* User Review Carousel */
.user-review-carousel {
  max-width: 80%; /* Adjust the maximum width as needed */
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 20px 0;
  scrollbar-width: thin;
  scrollbar-color: #666 #f7f7f7;
}

.user-review-carousel::-webkit-scrollbar {
  width: 8px;
}

.user-review-carousel::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 8px;
}

.user-review-carousel::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

/* User Review Item */
.user-review {
  background-color: white;
  border-radius: 10px;
  width: 300px; /* Adjust the width as needed */
  padding: 20px;
  margin: 0 10px; /* Add spacing between items */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  cursor: pointer;
  overflow: hidden;
  float: left;
}

.user-review:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.user-review h3 {
  font-size: 1.2rem;
  color: #333;
}

.user-review p {
  font-size: 1rem;
  color: #666;
}

/* mobile */
@media screen and (max-width: 765px){
  .user-review{
    width: 100%;
    min-width:fit-content;
    margin: 2% 0;

  }

  .user-review-carousel{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
